@font-face {
  font-family: myFirstFont;
  src: url("./Assets/google sans font/GoogleSans-Regular.ttf");
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: myFirstFont;
}
::-webkit-scrollbar {
  display: none;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
}

.sidebarNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: -200px;
  margin-top: 28px;
  padding-bottom: 14px;
  background-color: grey;
  border-radius: 20px;
  animation: slide-in 1.5s forwards;
  animation-delay: 1.9s;
}

.sidebarThemeToggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: -200px;
  margin-bottom: 28px;
  padding-bottom: 14px;
  background-color: grey;
  border-radius: 20px;
  animation: slide-in 1.5s forwards;
  animation-delay: 1.9s;
}

.sideBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.sidebarButton {
  margin: 14px;
  margin-bottom: 0;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  border-color: transparent;
}

.greetingText {
  color: white;
  font-size: 100px;
  opacity: 0;
}
.fade-text {
  color: white;
  font-size: 100px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: slide-away 1.5s forwards;
  animation-delay: 2s;
}

.overlayContainer {
  background-color: #0008;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.introContainer {
  padding-left: 180px;
  padding-top: 130px;
  padding-right: 100px;
  opacity: 0;
  animation: fade-in 1.5s forwards;
  animation-delay: 4s;
  display: flex;
  justify-content: space-between;
}

.introText {
  font-size: 35px;
  color: white;
  padding-right: 70px;
  padding-top: 20px;
}
.polaroidContainer {
  background-color: blanchedalmond;
  width: 363px;
  height: 434px;
  border-radius: 14px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.polarioidIMG {
  background-color: white;
  background-image: url("./Assets/stadia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 330px;
  height: 360px;
  margin-top: 18px;
  border-radius: 13px;
}
.polaroidTitle {
  color: black;
  font-size: 26px;
}

.polaroidTitleContainer {
  display: flex;
  width: 86%;
  margin-top: 10px;
  align-items: center;
}

@keyframes slide-away {
  from {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  to {
    position: absolute;
    top: 15px;
    left: 170px;
    transform: translate(0, 0);
    text-align: left;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 28px;
  }
}
