* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100px;
  position: fixed;
  margin: 14px;
  background-color: grey;
  border-radius: 10px;
}

.sidebarButton {
  margin-top: 14px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border-color: transparent;
}
